<html>
	<head>
		<title>The Gossip Project</title>
	</head>
	<body>
		<h1>Page Potin</h1>
		<h3>Voici le detail du gossip N* <%= gossip.index %> </h3>  </br>
		<p> Son auteur : <%= "#{gossip.author}" %></p>
		<P> Le contenu du potin : <%= "#{gossip.content}" %> </p>
		<a href="/modify_gossip/<%=gossip.index%>">Modifier mon gossip</a> </br>
	
		<a href="/comment/new/<%=gossip.index%>">Ajouter un commentaire</a> </br>
		</p>	
		<p>----------------COMMENTAIRES-------------------</p>
	        <p>
        		<% gossip.comments.each do |comment| %>
		        <p>
			        <%= "#{comment.author} - " %>
			        <%= "#{comment.content}" %>
		        </p>
			<% end %>
		</p>
      		<a href="/">Revenir a la page d'acceuil</a> </br>
	</body>
</html>
